html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: $montserat-bold;
  font-size: 30px;
  text-transform: uppercase;
}

h4 {
  font-family: $kaushan;
  font-size: 24px;
  margin-bottom: 23px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  cursor: pointer;
}

figure {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: $montserat-bold;
  font-size: 30px;
}

.main {
  text-align: center;

  &__break {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 0 auto;
  }
}
